body {
    background: linear-gradient(blue, white);
}
* {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

input {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}


